<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d7112338-0409-4786-bd47-1624f9dac970/resourcegroups/tcOnlineLiqing2019_1/providers/Microsoft.Web/sites/TCOnlineAPI20191030042823</ResourceId>
    <ResourceGroup>tcOnlineLiqing2019_1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tconlineapi20191030042823.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tconlineapi20191030042823.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TCOnlineAPI20191030042823</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TCOnlineAPI20191030042823</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ABCEntitiesOfTC" Order="1" Enabled="False">
          <Destination Path="Data Source=tconlineapi20191030042823dbserver.database.windows.net;Initial Catalog=TCOnlineAPI20191030042823_db;Persist Security Info=True;User ID=Liqing1;Password=Transport100" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TCOnline.API.ABCEntitiesOfTC, TCOnline.API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ABCEntitiesOfTC-Web.config Connection String">
      <ParameterValue>metadata=res://*/TConline.csdl|res://*/TConline.ssdl|res://*/TConline.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tconlineapi20191030042823dbserver.database.windows.net;Initial Catalog=TCOnlineAPI20191030042823_db;Persist Security Info=True;User ID=Liqing1;Password=Transport100"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>